{% extends 'base.html.twig' %}

{% block title %}Conversation
{% endblock %}

{% block body %}


	<html>

		<head>
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		</head>

		<div class="messaging">
			<div class="inbox_msg">
				<div class="inbox_people">
					<div class="headind_srch">
						<div
							class="recent_heading">
							<!-- Indique qui est connecté -->
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<p>Logged in as:
									{{ app.user.username }}</p>
							{% endif %}
							<!-- Boutton créer un groupe & Logout -->
						</div>
						<div class="logout">
							<a href="{{ path('app_logout') }}" type="button" class="btn btn-danger">Logout</a>
						</div>
						<div class="createGroup">
							<a href="{{ path('messages') }}" type="button" class="btn btn-primary">Créer un groupe</a>
						</div>

					</div>

					<div
						class="inbox_chat">

						<!-- parse groups -->
						{% for g in groups %}
							<!-- affiche uniquement les groupes de l'utilisateur connecté-->
							{% if g.getUserAdmin.id == app.user.id  %}
								<a href="{{ path('conversation', { id : g.id} ) }}" class="chat_list">
									<div class="chat_people">
										<div class="chat_img">
											<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
										</div>
										<div class="chat_ib">
											<h5>{{g.nom}}
												<span class="chat_date">{{g.date | date('d/m/Y à H:i')}}</span>
											</h5>
										</div>
									</div>
								</a>
							{% endif %}
						{% endfor %}


					</div>

				</div>
				<!-- si l'entité groupe existe debut du parse -->
				{% if groupe is defined %}
					<div class="mesgs inbox_chat" style="height: 80%">
						<div class="type_msg">
							<div class="input_msg_write">
								{% for m in groupe.messages %}

									<!-- les messages du user connecté -->
									{% if m.user.username == app.user.username %}
										<div class="outgoing_msg">
											<div class="sent_msg">
												<span class="username">{{m.user.username}}</span>
												<p>
													{{m.content}}</p>
												<span class="time_date">{{m.datetime | date('d/m/Y à H:i') }}</span>
											</div>
										</div>
									{% endif %}
									<!-- messages des autres membres du groupe -->
									{% if m.user.username != app.user.username %}
										<div class="incoming_msg">
											<div class="incoming_msg_img">
												<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
											</div>
											<div class="received_msg">
												<div class="received_withd_msg">
													<span class="username">{{m.user.username}}</span>
													<p>
														{{m.content}}
													</p>
													<span class="time_date">{{m.datetime | date('d/m/Y à H:i') }}</span>
												</div>
											</div>
										</div>
									{% endif %}


								{% endfor %}
							</div>
						</div>
					{% endif %}

					<!-- Formulaire de groupe -->

					{% if groupe is not defined %}
						<div class="wrapper" id="formContent">
							<h1 style="margin-top:20px">Créer un Groupe</h1>
							{{form_start(groupForm)}}
							{{form_label(groupForm.nom)}}
							<div>
							{{form_row(groupForm.nom,  {'label' : false} ) }}
							</div>
							{{form_label(groupForm.photo)}}
							<div>
							{{form_row(groupForm.photo,  {'label' : false})}}
							</div>
							
							<!-- parse users et le form pour custom les checkboxes -->
							<div>
							{{form_label(groupForm.users)}}
							</div>
							{% for u in groupForm.users %}
								<!-- ne peut se selectionner dans les users a ajouter au groupe (note: la comparaison tjrs vraie ou alors form force a afficher le user) -->
								{% if app.user.username != form_label(u) %}
									{{form_label(u)}}
									{{form_widget(u)}}	
								{% endif %}
							{% endfor %}
							
							<!-- css test checkboxes 
							{% for u in groupForm.users %}
							<div class="container">
									{{form_label(u)}}
									{{form_widget(u)}}
							</div>	
							{% endfor %}
							-->
							<div>
								<button class="btn btn-lg btn-primary" type="submit" style="margin:2em">
									Register
								</button>
							</div>  
							{{form_end(groupForm)}}

						</div>
					{% endif %}


				</div>
				<!-- Peut envoyer un message que si dans un groupe -->
				{% if groupe is defined %}
					<div class="mesgs" style="height: 10%">
						<div class="type_msg">
							<div class="input_msg_write">
								{{form_start(messageForm)}}
								<div>
								{{form_row(messageForm.content)}}
								</div>
								<button class="msg_send_btn" type="submit">
									<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								</button>
								{{form_end(messageForm)}}

							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</html>
		<style>


			html,
			body {
				margin: 0;
				height: 100%;
			}
			/*form css*/
			.wrapper {
  			display: flex;
  			align-items: center;
 			flex-direction: column; 
  			justify-content: center;
  			width: 100%;
  			padding: 10px;
  			margin:auto;
  			margin-top:10%;
  			margin-bottom:10%
			}
			#formContent {
			-webkit-border-radius: 10px 10px 10px 10px;
			border-radius: 10px 10px 10px 10px;
			background: #fff;
			padding: 5px;
			width: 90%;
			max-width: 450px;
			position: relative;
			padding: 0px;
			-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
			box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
			text-align: center;
			}
			 /* Customize the label (the container) */
			.container {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			overflow-y: auto
			}

			/* Hide the browser's default radio button */
			.container input {
			position: absolute;
			top: 0;
			left: 0;
			height: 10px;
			width: 10px;
			background-color: #eee;
			border-radius: 50%;
			}

			/* Create a custom radio button */
			.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: #eee;
			border-radius: 50%;
			}

			/* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
			background-color: #ccc;
			}

			/* When the radio button is checked, add a blue background */
			.container input:checked ~ .checkmark {
			background-color: #2196F3;
			}

			/* Create the indicator (the dot/circle - hidden when not checked) */
			.checkmark:after {
			content: "";
			position: absolute;
			display: none;
			}

			/* Show the indicator (dot/circle) when checked */
			.container input:checked ~ .checkmark:after {
			display: block;
			}

			/* Style the indicator (dot/circle) */
			.container .checkmark:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
			} 
			img {
				max-width: 100%;
			}
			.createGroup {
				margin-left: 60%;
				margin-top: -6%
			}
			.inbox_people {
				background: #f8f8f8 none repeat scroll 0 0;
				float: left;
				width: 40%;
				border-right: 1px solid #c4c4c4;
				height: auto;
			}
			.inbox_msg {
				border: 1px solid #c4c4c4;
				clear: both;
				overflow: hidden;
				padding: 0;
				height: 100%;
			}
			.top_spac {
				margin: 20px 0 0;
			}
			.logout {
				margin-top:2%
			}

			.recent_heading {
				float: left;
				width: 20%;
				margin-top:2%
			}
			.srch_bar {
				display: inline-block;
				text-align: right;
				width: 60%;
				padding: }
			.headind_srch {
				padding: 10px 29px 10px 20px;
				overflow: hidden;
				border-bottom: 1px solid #c4c4c4;
			}

			.recent_heading h4 {
				color: #05728f;
				font-size: 21px;
				margin: auto;
			}
			.srch_bar input {
				border: 1px solid #cdcdcd;
				border-width: 0 0 1px 0;
				width: 60%;
				padding: 2px 0 4px 6px;
				background: none;
			}
			.srch_bar .input-group-addon button {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border: medium none;
				padding: 0;
				color: #707070;
				font-size: 18px;
			}
			.srch_bar .input-group-addon {
				margin: 0 0 0 -27px;
			}

			.chat_ib h5 {
				font-size: 15px;
				color: #464646;
				margin: 0 0 8px;
			}
			.chat_ib h5 span {
				font-size: 13px;
				float: right;
			}
			.chat_ib p {
				font-size: 14px;
				color: #989898;
				margin: auto
			}
			.chat_img {
				float: left;
				width: 11%;
			}
			.chat_ib {
				float: left;
				padding: 0 0 0 15px;
				width: 88%;
			}

			.chat_people {
				overflow: hidden;
				clear: both;
			}
			.chat_list {
				border-bottom: 1px solid #c4c4c4;
				margin: 0;
				padding: 18px 16px 10px;
				display: block;
				text-decoration: none;

			}
			.inbox_chat {
				padding: 0;
				height: 46.4em;
				overflow-y: scroll;
			}

			.active_chat {
				background: #ebebeb;
			}

			.incoming_msg_img {
				display: inline-block;
				width: 6%;
			}
			.received_msg {
				display: inline-block;
				padding: 0 0 0 10px;
				vertical-align: top;
				width: 92%;
			}
			.received_withd_msg p {
				background: #ebebeb none repeat scroll 0 0;
				border-radius: 3px;
				color: #646464;
				font-size: 14px;
				margin: 0;
				padding: 5px 10px 5px 12px;
				width: 100%;
			}
			.time_date {
				color: #747474;
				display: block;
				font-size: 12px;
				margin: 8px 0 0;
			}
			.received_withd_msg {
				width: 57%;
			}
			.mesgs {
				float: left;
				padding: 30px 15px 0 25px;
				width: 60%;
				bottom: 0;
			}

			.sent_msg p {
				background: #05728f none repeat scroll 0 0;
				border-radius: 3px;
				font-size: 14px;
				margin: 0;
				color: #fff;
				padding: 5px 10px 5px 12px;
				width: 100%;
			}
			.outgoing_msg {
				overflow: hidden;
				margin: 26px 0;
			}
			.sent_msg {
				float: right;
				width: 46%;
			}
			.input_msg_write input {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border: medium none;
				color: #4c4c4c;
				font-size: 15px;
				min-height: 48px;
				width: 100%;
			}

			.type_msg {
				border-top: 1px solid #c4c4c4;
				position: relative;
			}
			.msg_send_btn {
				background: #05728f none repeat scroll 0 0;
				border: medium none;
				border-radius: 50%;
				color: #fff;
				cursor: pointer;
				font-size: 17px;
				height: 33px;
				position: absolute;
				right: 0;
				top: 11px;
				width: 33px;
			}
			.messaging {
				padding: 0 0 10px;
				height: 100%;
			}
			.msg_history {
				height: 516px;
				overflow-y: auto;
			}
		</style>
	{% endblock %}
